<div class="container">
	<div class="row jumbotron">
		<h2 style="text-align:center;">The most <u>Coolest</u> images on internet, upload yours today and join the community</h2>
	</div>
	
	<%# render 'photos/photoSec/picDropSection' %>
	<%= render 'photos/photoSec/allPics' %>
</div>