<div class="container">
	<div class="jumbotron">
		<div class="row">
			<% for i in @photo %>
				<% if i.exist? %>
					<div class="col">
						<p><%= link_to image_tag i.image.url(:thumb), class: 'img-circle' %></p>
					</div>
				<% else %>
					<% redirect_to root_url, notice: 'Could not find the photo your looking for. 
					Please try again' %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>