



.hs {
	&:hover {
		border-color: #000;
		background-color: green;
		border-width: 5px;
	}
}




/* drop and drop styling */

#drop_zone {
	background-color: #EEE;
	border: #999 5px dashed;
	width: 290px;
	height: 200px;
	padding: 8px;
	font-size: 18px;
}